*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;

    // 1200px
    @include respond(tab-land) {
      font-size: 56.25%;
    }

    // 900 px
    @include respond(tab-port) {
      font-size: 56.25%;
    }

    // 600 px
    @include respond(phone) {
      font-size: 50%;
    }

    // 1800+ px
    @include respond(tab-desktop) {
      font-size: 75%;
    }
}

body {
    box-sizing: border-box;
}